*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(70,142,236);
    font: normal 15pt Arial;
    } 
 header{
        color: white;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 0px;
    }  
section{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    max-width: 700px;
    max-height: 700px;
    margin: 50px auto 20px auto;
    box-shadow: 3px 3px 10px black;
    }

    .txt1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

    }

 input#txtnumero{
    margin-right: 10px;
    margin-bottom: 20px;
    }
 input.reinicio{
        display: none;
    }

    .tudo #contagem{
        margin: 20px;
    }
    
    
    /* ====== ========   -   -    -   CSS PARA O JS ---- --- --- --- ======== =========== ================== ===================== ============== */
 .baixoOuAlto{
        margin: 20px;
        background-color: limegreen;
    }
    
  .fimdejogo{
    margin: 20px;
        background-color: black;
        color: white;
    }
    
 .errou{
        margin: 20px;
        background-color: red;
        color: black;
    }
    
    /*================================================================================================================================================================*/
    
 footer{
    font-size: 12px;
        color: white;
        text-align: center;
        font-style: italic;
    }